---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Angular from "./icons/Angular.astro"
import Java from "./icons/Java.astro"
import Spring from "./icons/Spring.astro"
import Typescript from "./icons/TypeScript.astro"
import MySQL from "./icons/Mysql.astro"
import JavaScript from "./icons/javaScript.astro"
import HTML from "./icons/Html.astro"
import CSS from "./icons/Css.astro"
import Bootstrap from "./icons/Bootstrap.astro"

const TAGS = {
  ANGULAR: {
    name: "Angular",
    class: "bg-[#EC4B40] text-white flex items-center",
    icon: Angular,
  },
  JAVA: {
    name: "Java",
    class: "bg-[#003159] text-white flex items-center",
    icon: Java,
  },
  SPRING : {
    name: "Spring",
    class: "bg-[#2F7042] text-white flex items-center",
    icon: Spring,
  },
  TYPESCRIPT : {
    name: "Typescript",
    class: "bg-[#007ACC] text-white flex items-center",
    icon: Typescript,
  },

  MYSQL : {
    name: "MySQL",
    class: "bg-black text-white flex items-center",
    icon: MySQL,
  },

  JAVASCRIPT : {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black flex items-center",
    icon: JavaScript,
  },
  HTML : {
    name: "HTML",
    class: "bg-[#E34F26] text-white flex items-center",
    icon: HTML,
  },
  CSS : {
    name: "CSS",
    class: "bg-[#1572B6] text-white flex items-center",
    icon: CSS,
  },
  BOOSTRAP : {
    name: "Bootstrap",
    class: "bg-[#7952B3] text-white flex items-center",
    icon: Bootstrap,
  },

  
}
const PROJECTS = [
  {
    title: "ELEX - Administracion de temas Jurídicos",
    description:
      "Aplicacion Web desarrollada para añadir,editar,eliminar de temas Jurídicos.Se puede añadir PDFs y la aplicacion los muestra en un visor de PDFs. Cuenta con un sistema de autenticacion y con filtros de busqueda.",
    github: "https://github.com/manue02/elex.git",
    image: "/projects/1.jpeg",
    tags: [TAGS.ANGULAR, TAGS.JAVA, TAGS.SPRING, TAGS.TYPESCRIPT, TAGS.MYSQL],
  },
  {
    title: "Gestor de cafetería - Gestión de comandas",
    description:
      "Aplicacion desarrollada para la gestion de una cafetería. Para digitalizar la gestión de las consumiciones de las mesas que tiene el local.",
    link: "https://gestor-cafeteria.vercel.app/index.html",
    image: "/projects/2.jpeg",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.BOOSTRAP],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



